/* TODO:
 * Implement prefers-reduced-motion.
 * Read more: https://css-tricks.com/revisiting-prefers-reduced-motion/
 */
.fade-in-scroll {
  opacity: 0;
  transform: translateY(150px);
  visibility: hidden;
  transition: opacity 1500ms, transform 1500ms,
    visibility 1500ms;
  will-change: opacity, transform, visibility;
}
.fade-in-scroll.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}